.st-bg-gredient {
  background-image: linear-gradient(
    to right top,
    #0c2150,
    #342763,
    #5a2971,
    #822778,
    #a92078
  );
}

.st-bg-gredient-2 {
  background-image: linear-gradient(
    to right bottom,
    #0c2150,
    #342763,
    #5a2971,
    #822778,
    #a92078
  );
}

.st-about {
  padding-bottom: 0 !important;

  .about-img-one {
    margin: 0 auto;
  }
}

.st-about-content {
  .quotation-line {
    margin-top: 40px;
    p {
      font-size: 18px;
      font-weight: bolder;
      color: #000;
    }
    .quote-writer-name {
      font-size: 18px;
      font-weight: bolder;
      margin-top: 20px;
      color: red;
    }
  }
}

.toggle-down,
.toggle-down-fees {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background: #ffffff;
  margin: 10px 0;
  padding: 10px;
  .fa-solid {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }

  i,
  h5 {
    color: #000;
  }
}

.toggle-views {
  li {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
}

.toggle-views,
.fee-strucher {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  background: #fff;
  margin-top: -10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.toggle-views.open,
.fee-strucher.open {
  opacity: 1;
  height: 100%;
  padding: 15px;
}

@media (max-width: 991px) {
  .header-top {
    display: none;
  }
}

.cmd-image {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #941c00, #941c00);
}
.mobile-links {
  display: none;
}

@media (max-width: 991px) {
  .reverse-in-mobile {
    flex-direction: column-reverse !important;
  }
  .mobile-links {
    display: block !important;
    ul {
      li {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.07);
          position: relative;
          top: -1px;
          left: 0;
          width: 30px;
          height: 30px;
          text-align: center;
          border-radius: 50%;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          i {
            color: #ab2078;
          }
        }
      }
    }
  }
}

.events-none-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
}

.hero-btn {
  position: relative;
  z-index: 999999;
}
